@page
@model TomaszWasielewski.Homepage.Pages.AboutMeModel
@{
    ViewData["Title"] = "About me";
}
<h1>@ViewData["Title"]</h1>
<div class="container" aria-atomic="true" >

<p> Hello, my name is Tomasz Wasielewski. I'm a student of the 3rd semester of Computer Science at <a href="https://pja.edu.pl/">PJATK</a> and I am 23 years old.
    I'm mostly interested in backend programming and cloud solutions - I am aiming to be a <b>
        DevOps engineer</b> one day.<br>

    Currently I run my own Escape Room games company and study on daily basis.</p>
    <div>
    <p><b>My skills:</b></p>
   @* <img src="~/images/car.jpg">*@ <ul>
            
            <li>
            <a>Java - <span style="font-size:100%;color:yellow;">&starf;&starf;&starf;&star;&star;</span></a>
            </li>
            <li>
            <a>Spring and Spring Boot - <span style="font-size:100%;color:yellow;">&starf;&starf;&star;&star;&star;</span> </a>
            </li>
            <li>
            <a>Google Cloud Platform  - <span style="font-size:100%;color:yellow;">&starf;&starf;&star;&star;&star;</span></a>
            </li>
            <li>
            <a>C#/.NET Platform - <span style="font-size:100%;color:yellow;">&starf;&starf;&starf;&star;&star;</span></a>
            </li>
            <li>
            <a>Linux - <span style="font-size:100%;color:yellow;">&starf;&starf;&star;&star;&star;</span></a>
            </li>
            <li>
            <a>English Language - <span style="font-size:100%;color:yellow;">&starf;&starf;&starf;&starf;&starf;</span></a>
            </li>
            
    </ul>
</div>
</div>
    